@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap');

$Dark-Text: #3b4363;
$Score-Text: #2a46c0;
$Header-Outline: #606e85;
$White: #ffffff;

$Barlow: Barlow Semi Condensed, sans-serif;
