@import 'variables.scss';
@import 'media_query.scss';
@import 'mixins.scss';

#container{
  font-family: $Barlow;
  font-size: 15px;
  padding-top: 48px;
  z-index: 1;
  @include Radial-Gradient;
  width: 100%;
  height: 100vh;
  #header{
    border: 3px solid rgba(255, 255, 255, 0.493);
    border-radius: 10px;
    max-width: 700px;
    padding: 20px 20px;
    margin: 0px auto;
    & #wrapper-score{
      background-color: $White;
      padding: 10px 40px;
      border-radius: 5px;
      box-sizing: border-box;

    }
    & #score{
      color: #2a46c0;
      font-weight: 700;
      font-size: 1rem;
      display: block;
    }
    & #num-score{
      color: #3b4363;
      font-weight: 700;
      font-size: 3rem;
      display: block;
      margin-top: -15px;
    }
  }
  #wrapperResult{
    width: 100%;
    height: 63vh;
    & > div {
      text-align: center;
    }
    & .letters{
      color: $White;
      font-weight: 600;
      font-size: 1.7rem;
      letter-spacing: 2px;

    }
  }
}
#main{
  max-width: 700px;
  margin: 0px auto;
  height: 63vh;
  padding-top: 50px;
  background-image: url('./bg-triangle.svg');
  background-repeat: no-repeat;
  background-position: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "left right" "down down";
  justify-items: center;
}
#main_bonus{
  max-width: 700px;
  margin: 0px auto;
  height: 63vh;
  padding-top: 20px;
  background-image: url('./bg-pentagon.svg');
  background-repeat: no-repeat;
  background-position: center;
  display: grid;
  grid-template-columns: 1fr 80px 1fr;
  grid-template-rows: 1fr  130px  1fr;
  grid-template-areas: ". scissor . "  "spock . paper" "lizard . rock";
  justify-items: center;
}
#wrapper_button_option{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  padding: 20px;
  margin: 0px auto;
}
#wrapper_button_option_bonus{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 140px;
  height: 140px;
  padding: 13px;
  margin: 0px auto;
}
.wrapper_button_option_shadow{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  padding: 20px;
  margin: 0px auto;
  animation: 1s shadow forwards;
}
.button_option{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $White;
  border-radius: 50%;
  width:100% ;
  height: 100%;
  border: none;
  box-shadow: 0px 8px 6px 0px inset #a5a4a4;
}
.button_option:focus{
  outline: none;
}
#WrapperRules {
  background-color: rgba(0, 0, 0, 0.459);
  width: 100%;
  height: 100vh;
  position: absolute ;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
#rules{
  background-color: $White;
  width: 380px;
  padding: 15px 20px;
  border-radius: 10px;
  z-index: 7;
  & span {
    font-size: 1.7rem;
    font-weight: 700;
  }
  & button{
    border: none;
    background-color: transparent;
  }
  & img {
    width: 100%;
  }
}
.left{
  grid-area: left;
  margin-top: -40px;
  margin-right: -80px;
}
.right{
  grid-area:right;
  margin-top: -40px;
  margin-left: -80px;
}
.down{
  grid-area: down;
  margin-top: -30px;
}



.scissors_bonus{
  grid-area: scissor;
  margin: -15px 0px 0px 0px;
}
.rock_bonus{
  grid-area:rock;
  justify-self: start;
}
.paper_bonus{
  grid-area: paper;
  justify-self: center;
  margin: -30px 0px 0px -50px;
}
.spock_bonus{
  grid-area:spock;
  justify-self: center;
   margin: -30px -50px 0px 0px;
}
.lizard_bonus{
  grid-area: lizard;
   justify-self: flex-end;
}



.scissors{
  @include Scissors-Gradient;
  box-shadow: 0px 8px 0px 0px rgb(175, 127, 31);
}
.rock{
  @include Rock-Gradient;
  box-shadow: 0px 8px 0px 0px  rgb(182, 39, 65);
}
.paper{
  @include Paper-Gradient;
  box-shadow: 0px 8px 0px 0px  rgb(50, 73, 184);
}
.lizard{
  @include Lizard-Gradient;
    box-shadow: 0px 8px 0px 0px rgb(111, 65, 196);
}
.spock{
  @include Cyan;
    box-shadow: 0px 8px 0px 0px rgb(55, 162, 180);
}

.letters_result{
  color: $White;
  font-weight: 700;
  font-size: 3rem;
}
.empty{
  width: 170px;
  height: 170px;
  border-radius: 50%;
  background-color:rgb(26, 43, 65);
  margin: 0px auto;
}
.fill{
  background-color: transparent;
  width: 270px;
  height: 200px;
}
.pick{
  width: 315px;
  z-index: 5;
  margin-right: 8px;
  height: 315px;
}
.house{
  z-index: 5;
  width: 315px;
  height: 315px;

}
#result{
  z-index: 6;
  & button {
    padding: 8px 48px;
  }
}
#buttonRules{
  position: fixed;
  bottom: 2%;
  right: 2%;
  z-index: 3;
  & button {
    z-index: 4;
  }
}
#bonus{
  width: 150px;
  position: fixed;
  bottom: 2%;
  left: 2%;
}

@keyframes shadow {
  to {
    box-shadow: 0 0 0 40px rgba(255,255,255,.04), 0 0 0 80px rgba(255,255,255,.04), 0 0 0 120px rgba(255,255,255,.02);
    transform:  scale(1.1);
  }
}