@import 'variables.scss';
@import 'media_query.scss';
@import 'mixins.scss';

#container{
  font-family: $Barlow;
  font-size: 15px;
  @include Radial-Gradient;
  width: 100%;
  height: 100vh;
  #header{
    border: 3px solid rgba(255, 255, 255, 0.493);
    border-radius: 10px;
    width: 700px;
    padding: 20px 20px;
    margin: 0px auto;
    & #wrapper-score{
      background-color: $White;
      padding: 10px 40px;
      border-radius: 5px;
      box-sizing: border-box;

    }
    & #score{
      color: #2a46c0;
      font-weight: 700;
      font-size: 1rem;
      display: block;
    }
    & #num-score{
      color: #3b4363;
      font-weight: 700;
      font-size: 3rem;
      display: block;
      margin-top: -15px;
    }
  }
  #wrapperResult{
    height: 60vh;
    & > div {
      text-align: center;
      
    }
    & .letters{
      color: $White;
      font-weight: 600;
      font-size: 1.7rem;
      letter-spacing: 2px;
      margin-bottom: 60px;
      
    }
  }
}
#main{
  width: 700px;
  margin: 0px auto;
  height: 60vh;
  padding-top: 50px;
  background-image: url('./bg-triangle.svg');
  background-repeat: no-repeat;
  background-position: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "left right" "down down";
  justify-items: center;
}
#wrapper_button_option{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  margin: 0px auto;
}
.button_option{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $White;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  border: none;
  box-shadow: 0px 8px 6px 0px inset #a5a4a4;
}
.button_option:focus{
  outline: none;
}
#WrapperRules {
  background-color: rgba(0, 0, 0, 0.459);
  width: 100%;
  height: 100vh;
  position: absolute ;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
}
#rules{
  background-color: $White;
  width: 380px;
  padding: 15px 20px;
  border-radius: 10px;
  & span {
    font-size: 1.7rem;
    font-weight: 700;
  }
  & button{
    border: none;
    background-color: transparent;
  }
  & img {
    width: 100%;
  }
}
.left{
  grid-area: left;
  margin-top: -30px;
  margin-right: -60px;
}
.right{
  grid-area:right;
  margin-top: -30px;
  margin-left: -60px;
}
.down{
  grid-area: down;
  margin-top: -30px;
 
}

.scissors{
  @include Scissors-Gradient;
  box-shadow: 0px 8px 0px 0px rgb(175, 127, 31);
}
.rock{
  @include Rock-Gradient;
  box-shadow: 0px 8px 0px 0px  rgb(182, 39, 65);
}
.paper{
  @include Paper-Gradient;
  box-shadow: 0px 8px 0px 0px  rgb(50, 73, 184);
}

.option_2{
  transform: scale(1.5);
}
.letters_result{
  color: $White;
  font-weight: 700;
  font-size: 3rem;
}
.empty{
  width: 170px;
  height: 170px;
  border-radius: 50%;
  background-color:rgb(26, 43, 65);
  margin: 0px auto;
}
.fill{
  background-color: transparent;
  width: 270px;
  height: 200px;
}
.pick{
  width: 240px;
  z-index: 3;
}
.house{
  z-index: 3;
}

.youwin_3{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 280px;
  width:280px;
  background-color: rgba(201, 201, 201, 0.089);
  border-radius: 50%;
  box-shadow: 0px 0px 6px 3px rgba(105, 105, 105, 0.671);
}
.youwin_2{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 340px;
  width:340px;
  background-color: rgba(201, 201, 201, 0.089);
  border-radius: 50%;
  box-shadow: 0px 0px 6px 3px rgba(105, 105, 105, 0.671);
}
.youwin_1{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  width:400px;
  background-color: rgba(201, 201, 201, 0.089);
  border-radius: 50%;
  position: absolute;
  top: 37%;
  left: 13%;
  z-index: 0;
}


.housewin_3{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 280px;
  width:280px;
  background-color: rgba(201, 201, 201, 0.089);
  border-radius: 50%;
  box-shadow: 0px 0px 6px 3px rgba(105, 105, 105, 0.671);
}
.housewin_2{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 340px;
  width:340px;
  background-color: rgba(201, 201, 201, 0.089);
  border-radius: 50%;
  box-shadow: 0px 0px 6px 3px rgba(105, 105, 105, 0.671);
}
.housewin_1{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  width:400px;
  background-color: rgba(201, 201, 201, 0.089);
  border-radius: 50%;
  position: absolute;
  top: 37%;
  left: 59%;
  z-index: 0;
}